/* GLOBAL */

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;

    color: #333;
    --bar-background: #eee;
    --secondary-gray: #aaa;
    --accent-color: #5db;
}
body.dark-theme {
    color: #eee;
    background-color: #33353B;
    --bar-background: #222225;
    --accent-color: #14b88f;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background-color: #33353B;
        --bar-background: #222225;
        --accent-color: #14b88f;
    }
    body.light-theme {
        color: #333;
        background-color: white;
        --bar-background: #eee;
        --accent-color: #5db;
    }
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: inline;
    font-size: 24px;
    margin: 0;
}

header #buttons {
    display: flex;
    user-select: none;
}

/* BIG TEXT */
#progress-text {
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    margin: 0.75em 0;
}

/* BARS */

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    width: 100%;
    height: 2em;
    padding: 0.2em;
}

progress, progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background-color: var(--bar-background);
    overflow: hidden;
}

progress[value]::-webkit-progress-value {
    transition: width 1s;
    border-radius: 10em;
    background-color: var(--accent-color);
}

progress[value]::-moz-progress-bar {
    transition: width 1s;
    border-radius: 10em;
    background-color:var(--accent-color);
}

/* ICON BUTTONS */
button.material-icons-round {
    appearance: none;
    border: none;
    background: none;

    padding: 0 0.25em;
    color: var(--secondary-gray);
}
button.material-icons-round:hover {
    color: inherit;
}

/* INPUTS */
input {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    border-radius: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    
    transition: border-color 0.5s;
    border-bottom: 1px solid var(--secondary-gray);
}

input:focus {
    border-bottom:3px solid var(--accent-color);
}

input:invalid {
    border-bottom: 3px solid #f44;
}

/* DATE CONTROLS */

#range-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.5em;
}

input[type="datetime-local"] {
    padding: 0;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    margin: 0;
}

.float-right {
    float: right;
}